html, body {
  height:100%;
}

h2 {
	font-size: 2.6em;
	color: #337ab7;
	margin-bottom: 40px;
}

h3 {
	color: #444;
	font-size: 1.8em;
}

#menu {
	position: fixed;
	padding: 10px 0;
	top: 0;
	width: 100%;
	background: transparent;
	opacity: 0.8;
	z-index: 99;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu li {
	float: left;
	margin: 15px;
	margin-left: 30px;
	margin-right: 0;
}

#menu a {
	color: #fff;
	text-transform: uppercase;
}

#menu-list {
	float: right;
}


#side-header {
	min-height: 400px;
	background: url(tausta.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
}

#side-header-contents {
	text-align: center;
	width: 100%;
	margin: 0;
	padding-top: 140px;
}

#header-overlay {
	background: #000;
	opacity: 0.3;
	height: 100%;
}

#header-contents {
	position: absolute;
	top: 35%;
	text-align: center;
	max-width: 600px;
	left: 50%;
	margin-left: -300px;
	color: #fff;
}

#header-contents .img-responsive {
    margin: 0 auto;
}

#talkoopaiva {
	z-index: 99;
	background: #fff;
	padding: 120px 0;
}

#talkoopaiva .container {
	background: #fff;
}

#mediat {
	margin-top: 50px;
}


#esimerkkeja {
	padding: 0;
	background: #000;
	height: 500px;
}

.example {
	background: #000 center;
	background-size: cover;
	height: 500px;
	width: 25%;
	color: #fff;
	float: left;
	opacity: 0.5;
}

.example:hover {
	opacity: 1;
}

.example-alt {
	color: #fff;	
	background: center;
	background-size: cover;
}


#jarjesta {
	border-top: 1px dashed #ccc;
	padding: 120px 0;
}


#talkoot {
	padding: 80px 0;
	background: #f3f3f3;
}

#talkoot .box {
	background: #fff;
	margin-bottom: 20px;
	text-align: left;
}

#talkoot .box p {
	font-size: 1.2em;
	padding: 0 20px 20px 20px;
}

#talkoot .box h3 {
	margin-bottom: 10px;
	margin-left: 20px;
}

#talkoot .box img {
	margin-bottom: 20px;
}


#historia {
	background: #fff;
	padding: 80px 0;
}

#kuva {
	background: url(tausta.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 600px;
	color: #fff;
	text-align: center;

}

.tiesitko {
	color: #666;
	background: #f2f2f2;
	padding: 20px;
}

.tiesitko li {
	margin: 10px 0;
}

#nykypaiva {
	background: #fff;
	padding: 80px 0;
}


#muistilista {
	background: #eee;
	padding: 120px 0;
}

.clear {
	clear:both;
}


#fb-footer {
	padding: 50px 0;
	background: #f3f3f3;
}

#text-footer {
	padding: 50px 0;
	background: #ddd;
	color: #333;
}

#text-footer a {
	color: #666;
}


video#bgvid {
        position: absolute; right: 0; bottom: 0;
        min-width: 100%; min-height: 100%;
        width: auto; height: auto; z-index: -100;
        background: url(polina.jpg) no-repeat;
        background-size: cover;
}

.imagebox .hovershow {
	display:none;
}

.imagebox:hover .hovershow {
	display: inline;
}




@media (max-width: 992px ) { 

	video#bgvid, #header-overlay { display: none; }

	#talkoopaiva {
		padding: 60px 0;
	}


	#header-contents {
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0;
		left: 0;
		top: 0;
		display: block;
		background: url(pad-tausta.jpg) no-repeat center;
		background-size: cover;
		padding: 150px 40px;
		text-align: center;
		color: #fff;
		max-width: 100%;
	}




}

